{% extends "base.html" %}

{% block file_upload %}
  {% if request.user.is_authenticated %}
    <!-- styling -->
    <style media="screen">
      .fileDrag {
      	font-weight: bold;
      	text-align: center;
      	padding: 1em 0;
      	margin: 1em 0;
      	border: 2px dashed #555;
      	border-radius: 7px;
      }

      .fileInput {
        display: none;
      }

      .fileLink {
        text-decoration: underline;
        color: black;
        cursor: pointer;
      }

      .fileLink:hover {
        color: #555;
      }

      .filename {
        display: inline-block;
        font-size: 18px;
      }

      .deleteButton {
        margin-left: 200px;
      }
    </style>

    <!-- file html -->
    <form method="post" enctype="multipart/form-data" onkeydown="prevent_default(event)">
      {% csrf_token %}
      <fieldset>
        <!-- input for textbooks (multiple .txt files) -->
        <div id="textbookForm">
            <legend>Textbook upload</legend>
            <label for="textbookfile">File to Upload (only <b>.txt</b> files accepted):</label>
            <div id="textbookNames">
            </div>
            <input type="file" id="textbookInput" class="fileInput" name="textbook_file" multiple>
            <div id="textbookDrop" class="fileDrag" ondrop="onDropHandle(event)" ondragover="onDragOverHandle(event, 1)" ondragleave="onDragLeaveHandle(event, 1)">
              <a href="" id="uploadLink" class="fileLink" onclick="triggerInput(event, 1)">Select</a> or drop <b>.txt</b> files here
            </div>
        </div>
        <!-- input for articles (one zip file only) -->
        <div id="articleForm">
          <legend>Article Upload</legend>
          <label for="articleFile">File to upload (only <b>.zip</b> file accepted):</label>
          <div id="articleName">
          </div>
          <input type="file" id="articleInput" class="fileInput" name="article_file" onchange="handleArticleFile()" />
          <div id="articleDrop" class="fileDrag" ondrop="onDropHandle(event)" ondragover="onDragOverHandle(event, 0)" ondragleave="onDragLeaveHandle(event, 0)">
            <a href="" id="uploadLink" class="fileLink" onclick="triggerInput(event, 0)">Select</a> or drop <b>.zip</b> file here
          </div>
        </div>
        <!-- input for keywords (multiple strings) -->
        <div id="keywordForm">

        </div>
        <!-- submit -->
        <div id="submitbutton">
        	<button type="submit">Upload Files</button>
        </div>
      </fieldset>
    </form>

    <!-- javascript -->
    <script>
      // when 'select' hyperlink is clicked, onclick-trigger its respective input element
      function triggerInput(event, isTextbookDrop) {
        event.preventDefault();
        var inputElement;
        if (isTextbookDrop) {
          inputElement = document.getElementById("textbookInput");
        } else {
          inputElement = document.getElementById("articleInput")
        }
        inputElement.click();
      }

      // TODO
      function onDropHandle(event) {
        event.preventDefault();
        alert("file drop");
      }

      // when a file is dragged over drop-box, change style to alert user
      function onDragOverHandle(event, isTextbookDrop) {
        event.preventDefault();
        var dropDiv;
        if (isTextbookDrop) {
          dropDiv = document.getElementById("textbookDrop");
        } else {
          dropDiv = document.getElementById("articleDrop");
        }
        dropDiv.style.cssText = "border-style: solid; box-shadow: inset 0 3px 4px #888;";
      }

      // when a file is leaving drop-box, change style to alert user
      function onDragLeaveHandle(event, isTextbookDrop) {
        if (isTextbookDrop) {
          dropDiv = document.getElementById("textbookDrop");
        } else {
          dropDiv = document.getElementById("articleDrop");
        }
        dropDiv.style.cssText = "border-style: dashed; box-shadow: 0;";
      }

      // TODO
      function handleArticleFile() {
        var articleInput = document.getElementById("articleInput");
        var articleDrop = document.getElementById("articleDrop");
        articleDrop.style.cssText = "display: none;";
        var filename = getFilename(articleInput);
        var divNameElement = document.getElementById("articleName");
        var nameElement = createNameElement("articleZipName", filename);
        var brElement = createBrElement("articleBr");
        var buttonElement = createButton("articleDeleteButton", "removeArticle()");
        divNameElement.appendChild(nameElement);
        divNameElement.appendChild(brElement);
        divNameElement.appendChild(buttonElement);
      }

      function getFilename(inputElement) {
        var filename = inputElement.value;
        filename = filename.replace(/.*[\/\\]/, '');
        return filename;
      }

      function createNameElement(nameElementId, textContent) {
        var nameElement = document.createElement("P");
        nameElement.setAttribute("id", nameElementId);
        nameElement.setAttribute("class", "filename");
        nameElement.innerHTML = textContent;
        return nameElement;
      }

      function createBrElement(brID) {
        var brElement = document.createElement("BR");
        brElement.setAttribute("id", brID);
        return brElement;
      }

      function createButton(buttonID, onclickFunc) {
        var buttonElement = document.createElement("BUTTON");
        buttonElement.setAttribute("id", buttonID);
        buttonElement.setAttribute("class", "deleteButton");
        buttonElement.setAttribute("onclick", onclickFunc);
        buttonElement.innerHTML = "Remove";
        return buttonElement;
      }

      function removeArticle() {
        var divNameElement = document.getElementById("articleName");
        var nameElement = document.getElementById("articleZipName");
        var brElement = document.getElementById("articleBr");
        var buttonElement = document.getElementById("articleDeleteButton");
        divNameElement.removeChild(nameElement);
        divNameElement.removeChild(brElement);
        divNameElement.removeChild(buttonElement);
        var articleDrop = document.getElementById("articleDrop");
        articleDrop.style.cssText = "display: default;";
      }
    </script>
  {% endif %}
{% endblock file_upload %}
